<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">             

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">


    <style>

             .modal-backdrop {
               position:relative;
             }

             html {
               font-family: "Lucida Sans", sans-serif;
             }
             body
             {
               background: #8e9eab;  /* fallback for old browsers */
               background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
               background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
             }
             header {
               text-align:center;
               background-color: #0099cc;
               padding: 15px;
               margin-top: 30px;
             }
             .row::after {
               content: "";
               clear: both;
               display: table;
             }
             [class*="col-"] {
               float: left;
               padding: 15px;
             }
             [class*="col-"] {
               float: left;
               padding: 15px;
             }
             /* For mobile phones: */
             [class*="col-"] {
               width: 100%;
             }
             .menu ul {
               list-style-type: none;
               margin: 0;
               padding: 0;
             }
             .menu li {
               padding: 8px;
               margin-bottom: 7px;
               background-color: #33b5e5;
               color: #ffffff;
               box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
             }
             
             .menu li:hover {
               background-color: #0099cc;
             }
             .footer {
               background-color: #0099cc;
               color: #ffffff;
               text-align: center;
               font-size: 12px;
               padding: 15px;
             }
             table {
               border-collapse: collapse;
               width: 100%;
             }
             
             th, td {
               padding: 8px;
               text-align: left;
               border-bottom: 1px solid #ddd;
             }
  
             tr:hover {background-color: coral;}

             .modal {
               display: none;
               position: fixed;
               z-index: 8;
               left: 0;
               top: 0;
               width: 100%;
               height: 100%;
               overflow: auto;
               background-color: rgb(0, 0, 0);
               background-color: rgba(0, 0, 0, 0.4);
              }
              .modal-content {
               margin: 50px auto;
               border: 1px solid #999;
               width: 60%;
              }
              h2,
              p {
               margin: 0 0 20px;
               font-weight: 400;
               color: #999;
              }
              span {
               color: #666;
               display: block;
               padding: 0 0 5px;
              }
              .Popup {
               padding: 25px;
               margin: 25px;
               box-shadow: 0 2px 5px #f5f5f5;
               background: #eee;
              }
              input,
              textarea {
               width: 90%;
               padding: 10px;
               margin-bottom: 20px;
               border: 1px solid #1c87c9;
               outline: none;
              }
              .contact-form button {
               width: 100%;
               padding: 10px;
               border: none;
               background: #1c87c9;
               font-size: 16px;
               font-weight: 400;
               color: #fff;
              }
              button:hover {
               background: #2371a0;
              }
              .close {
               color: #aaa;
               float: right;
               font-size: 28px;
               font-weight: bold;
              }
              .close:hover,
              .close:focus {
               color: black;
               text-decoration: none;
               cursor: pointer;
              }
              button.button {
               background: none;
               border-top: none;
               outline: none;
               border-right: none;
               border-left: none;
               border-bottom: #02274a 1px solid;
               padding: 0 0 3px 0;
               font-size: 16px;
               cursor: pointer;
              }
              button.button:hover {
               border-bottom: #a99567 1px solid;
               color: #a99567;
              }
               #navegate_salir #salir
              {
               display: block;
               color: white;
               padding: 14px 16px;
               text-decoration: none;              
              }
             #navegate_salir:hover
              {            
               transition-duration: 1.50s;
               background-color:#be1e1e;
              }
             #navegate_salir_item li
              {
               float:right;
               transition-duration: 0.4s;
               cursor: pointer;
              }
             .fixed-top
             {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              background-color: #333;
              position: fixed;
              top: 0;
              width: 100%;
             }             
             .navegate_items
             {
              float: left;
             }
             .navegate_items a
             {
              display: block;
              color: white;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
             }            
             .navegate_items:hover:not(.active) 
             {
              background-color:#669999;
              color:black;
             }
    </style>    
</head>
<body>

    <ul class="fixed-top">
        <li class="navegate_items"><a asp-controller = "CreateStock" asp-action= "Index" >Crear Stocks</a></li>
        <li class="navegate_items"><a asp-controller = "Planillas" asp-action= "Index" >Planillas</a></li>

        <div id="navegate_salir_item">
            <li id="navegate_salir"><a id="salir" asp-controller="Menu" asp-action="Logout">Salir</a></li>
        </div>      
    </ul>

    <div id="PlaceHolderHere"></div>

    <div class="main-content-two-col">      
         @RenderBody()
    </div>

    <div class="modal fade" tabindex="-1" id="form-modal">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>

        </div>
      </div>
    </div>

    @*---------------Scripts--------------------*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js" 
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
            crossorigin="anonymous"></script>   
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.5/umd/popper.min.js" 
            integrity="sha512-8cU710tp3iH9RniUh6fq5zJsGnjLzOWLWdZqBMLtqaoZUA6AWIE34lwMB3ipUNiTBP5jEZKY95SfbNnQ8cCKvA==" 
            crossorigin="anonymous" 
            referrerpolicy="no-referrer"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
     
    @RenderSection("Scripts", required: false)
    
</body>
</html>
