@{
    ViewData["Title"] = "Home Page";
}
<head>
     <style>

        .body
        {
            height: 600px;
            background-color: #ffdd90;
            background-image: url("http://www.mediateletipos.net/wp-content/uploads/2019/05/Vaporwave-Aesthetic.jpg") ;
            background-repeat:no-repeat;
            background-position-x:center;
            background-position-y:center;
            background-size: 110rem;
        }
        .textoMenu
        {
            font-family: 'Courier New', monospace;
            font-size:40px;
            font-weight: bold;
            
        }
        
     </style>
 </head>

 <body class = "body">
     <div class="text-center" >
    
             <h1 class = "textoMenu">Bienvenido</h1>

     </div>
 </body>
 
          



