
@{
    ViewData["Title"] = "Index";
}

<head>
    <div class="col-2">
         <form asp-action = "info" asp-controller="Calculadora" method="post">
             <button type="submit" class="btn btn-primary">Enviar</button>

         </form>
    </div>
</head>


